{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
ALL NEWS
{% endblock title %}

{% block content %}
    <h1>Список новостей</h1>
    {% if news %}
        <table>
            <tr>
                <td>
                    заголовок
                </td>
                <td>
                    новость
                </td>
                <td>
                    автор
                </td>
                <td>
                    дата
                </td>
                <td>
                    рейтинг
                </td>
            </tr>

        {% for new in news %}
            <tr>
                <td>
                    {{ post.zagolovok|NoMat:STOP_LIST }}
                </td>
                <td>
                    {{ post.novosti|truncatewords:7 }}
                </td>
                <td>
                    {{ post.author }}
                </td>
                <td>
                    {{ post.time_in }}
                </td>
                <td>
                    {{ post.rating }}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
    <h2>Новостей нет</h2>
    {% endif %}
    <h3> {{ komment|default_if_none:"без комментариев" }} </h3>
{% endblock content %}