{% extends 'layout/base.html' %}
{% load custom_filters %}

{% block title %}
News
{% endblock title %}

{% block content %}

<h1>Все новости</h1>
{% if posts %}

<form method="GET">
    {{ filter.form }}
    <input class="btn btn-primary" type="submit" value="найти">
</form>

<div>
<a href="{% url 'news:post_create' %}" class="btn btn-primary">Написать статью</a>
    </div>
        <table class="table">>
            <tr>
                <th scope="col">
                    Автор
                </th>
                <th scope="col">
                    Заголовок
                </th>
                <th scope="col">
                    Текст
                </th>
                <th scope="col">
                    Рейтинг
                </th>
                <th scope="col">
                    категория
                </th>
                <th scope="col">
                    дата
                </th>
            </tr>
            {% for post in filter.qs %}
            <tr>
                <td>
                    <a href="{% url 'news:post_detail' post.id %}">
                       {{ post.author }}
                    </a>
                </td>
                <td>
                    {{ post.zagolovok|nomat }}
                </td>
                <td>
                    {{ post.novosti|nomat }}
                </td>
                <td>
                    {{ post.rating }}
                </td>
                <td>
                    {{ post.post_type|multiply:3 }}
                </td>
                  <td>
                    {{ post.time_in }}
                </td>
                <td>
                    <a href="{% url 'news:post_update' post.id %}">
                       Update
                    </a>
                </td>
                <td>
                    <a href="{% url 'news:post_delete' post.id %}">
                       Delete
                    </a>
                </td>
            </tr>
        {% endfor %}
        </table>


{% include 'news/parts/paginator.html' %}

{% else %}
<h2>Свежих новостей нет!</h2>
{% endif %}

{% endblock content %}