{% extends 'layout/base.html' %}


{% block title %}
Post delete
{% endblock title %}

{% block content %}

<h3>Delete this post?</h3>
<div class="card">
 <div class="card-header">
   <h3>
     {{ post.author }}
   </h3>
   <div>
     заголовок: <span class="badge bg-info">{{ post.zagolovok }}</span>
     тип статьи: <span class="badge bg-info">{{ post.get_post_type_display }}</span>
   </div>
 </div>
 <div class="card-body">
   {{ post.novosti }}
 </div>
</div>
<form method="POST">
 {% csrf_token %}
   <input class="btn btn-success" type="submit" value="Delete">
</form>

{% endblock content %}